In [ ]:
name = input("Enter name:") #string 
age = int(input("Enter age:")) #int
master_degree = True#boolean I dont know how to read bool from keyboard
percentage = float(input("Enter percentage of Master Degree:"))  #float
complex_num = complex(input("enter complex number:")) #complex
print("variable”, “type of variable","id of variable",sep="----")
print(name, type(name),id(name), sep="----")
print(age, type(age),id(age), sep="----")
print(master_degree, type(master_degree), id(master_degree),sep="----")
print(percentage,type(percentage),id(percentage),sep="----")
print(complex_num, type(complex_num), id(complex_num), sep="----")

### F String and format method

- f string provide a concise and convenient way to embed python expressions inside string literals for formatting

In [3]:
first_name = 'meena'
last_name = 'pandit'

print("My name is "+first_name+" "+last_name)

My name is meena pandit

In [9]:
salary = 100000.20282868738
print("My name is "+first_name+" "+last_name+" salary is "+salary)

TypeError: can only concatenate str (not "float") to str

In [17]:
#format(var,var2 ,var2)
#till 3.6V

print("My name is {1} {0} and salary {2:.4f} ".format(first_name,last_name,salary))

My name is pandit meena and salary 100000.2028

In [ ]:
#F String

In [18]:
first_name = 'meena'
last_name = 'pandit'
sentence = f"My name is {first_name} {last_name}"
print (sentence)

My name is meena pandit

In [22]:
num1 = 10
num2 = 30 

# print("Addition of "+num1 + "add "+ num2 +" = " +(num1+num2))


print("Addition of {0} add  {1} = {2} ".format(num1,num2,(num1+num2))) #format()

print(f"Addition of {num1} and {num2} = {num1+num2}") #f string

Addition of 10 add  30 = 40
Addition of 10 and 30 = 40

### Reading multiple values from input()

In [23]:
m1 = int(input("Enter Marks for Student Marks 1: "))
m2 = int(input("Enter Marks for Student Marks 2: "))
m3 = int(input("Enter Marks for Student Marks 3: "))
m4 = int(input("Enter Marks for Student Marks 4: "))
m5 = int(input("Enter Marks for Student Marks 5: "))
m6 = int(input("Enter Marks for Student Marks 6: "))

myList = [m1, m2, m3, m4, m5, m6]
myList.sort()
print(myList)

Enter Marks for Student Marks 1: 10
Enter Marks for Student Marks 2: 20
Enter Marks for Student Marks 3: 30
Enter Marks for Student Marks 4: 40
Enter Marks for Student Marks 5: 30
Enter Marks for Student Marks 6: 30
[10, 20, 30, 30, 30, 40]

In [24]:
lst_students = [ ]
n = int(input("Enter number of students : "))
  
for i in range(0, n):
    students = [input("student name:"), int(input("student_age:"))]
    lst_students.append(students)
      
print(lst_students)

Enter number of students : 2
student name:Kumar
student_age:277
student name:Python
student_age:2782
[['Kumar', 277], ['Python', 2782]]

In [30]:
user_input=input("enter student marks: ")

marks_list=user_input.split(",")
print(marks_list)

for mark in range(len(marks_list)):
      marks_list[mark] = int(marks_list[mark])
print(marks_list)

enter student marks: 10,20,30
['10', '20', '30']
[10, 20, 30]

In [34]:
user_input=input("enter student marks: ")
print(user_input) #string

enter student marks: 10,20,30
10,20,30

In [37]:
lst = user_input.split(",")
print(lst)
lst[0] = int(lst[0])
lst[1] = int(lst[1])
lst[2] = int(lst[2])
#0-999
print(lst)

['10', '20', '30']
[10, 20, 30]

In [40]:
student_marks = list(map(int,input("Enter the marks: ").split(",")))

print(student_marks)

Enter the marks: 10,20,30,40,40,303,303,33
[10, 20, 30, 40, 40, 303, 303, 33]

In [ ]:
#map(func,iterable) - map object

#input().split() --> list

In [42]:
names = "Meena,Rajini,Rashmi,Rafal"

names = names.split(",")

print(names)

['Meena', 'Rajini', 'Rashmi', 'Rafal']

In [48]:
marks = "10,20,40,50"

marks = marks.split(",")

print(marks)

for ind in range(len(marks)):
    print(marks[ind],type(marks[ind]))
    marks[ind] = int(marks[ind])
    print(marks[ind],type(marks[ind]))
    
print(marks)

['10', '20', '40', '50']
10 <class 'str'>
10 <class 'int'>
20 <class 'str'>
20 <class 'int'>
40 <class 'str'>
40 <class 'int'>
50 <class 'str'>
50 <class 'int'>
[10, 20, 40, 50]

In [5]:
bool_list = input("Enter input values:")

bool_list = bool_list.split(",")

print(bool_list)

for i in range(len(bool_list)):
    
    bool_list[i]=bool(int(bool_list[i]))
    
    print(f'list value:{bool_list[i]},value type:{type(bool_list[i])}')
    
print(f"sequence:{bool_list},sequence type:{type(bool_list)}")

Enter input values:0,1,1,0
['0', '1', '1', '0']
list value:False,value type:<class 'bool'>
list value:True,value type:<class 'bool'>
list value:True,value type:<class 'bool'>
list value:False,value type:<class 'bool'>
sequence:[False, True, True, False],sequence type:<class 'list'>

In [2]:
bool("True")

True

In [3]:

bool("False")

False

In [ ]:
bool("True")

In [15]:
month = "may"
weather_hot = True 
temp1day = 80.45
temp2day = 90
temp3day = 85
average = temp2day+7j

# month_weather=[month,weather_hot,temp1day,temp2day,temp3day,average]
# print(month_weather)
# print(type(month_weather)) #<class 'list'>

# for data in month_weather:
#     print(data , type(data))
                  
#1.Declare two list one with integer values another with  float values.
#2.And declare third list add both the interge list & float list  values in it.          jan = 80,90,75 --- int


int_sal = [10,30,40,50]

float_sal = [10.2,30.3,40.3,89.3]

# third_list = int_sal + float_sal
third_list =[0]*4

third_list[0] = int_sal[0] + float_sal[0]
third_list[1] = int_sal[1] + float_sal[1]
third_list[2] = int_sal[2] + float_sal[2]
third_list[3] = int_sal[3] + float_sal[3]
fourth_list =[]

for ind in range(len(int_sal)):
    fourth_list.append(int_sal[ind] + float_sal[ind])
                                       
                                       
print(third_list)
print(fourth_list)

[20.2, 60.3, 80.3, 139.3]
[20.2, 60.3, 80.3, 139.3]

In [1]:
person = {'name': "paul", 'age': 25}
print (person['name'], person['age'])
print (person.get('name'), person.get('age'))
person['phone'] = 12345
#new key added
#print (person)
person ['hobby'] = ['coding', 'singing', 'playing'] 
#list of values
print(person) # output -- {'name': 'paul', 'age': 25, 'phone': 12345, 'hobby': ['coding', 'singing', 'playing']}

#to delete the items 

del person['hobby']
#print (person) # ouput -{'name': 'paul', 'age': 25, 'phone': 12345}

person.pop('phone') # removed or deleted from the person dictionary 
#print (person) # output -- {'name': 'paul', 'age': 25}

print(len(person))

print (person.keys()) # output --dict_keys(['name', 'age', 'hobby'])

print (person.values()) # output -- dict_values(['paul', 25, ['coding', 'singing', 'playing']]) printing only the values

paul 25
paul 25
{'name': 'paul', 'age': 25, 'phone': 12345, 'hobby': ['coding', 'singing', 'playing']}
2
dict_keys(['name', 'age'])
dict_values(['paul', 25])

In [3]:
person.update({"age":35})

print(person)

{'name': 'paul', 'age': 35}

In [4]:
person.update({"course": "python"})

print(person)

{'name': 'paul', 'age': 35, 'course': 'python'}

In [5]:
person["fee"]

KeyError: 'fee'

In [6]:
person.get("fee","Key not found")

'Key not found'

In [7]:
person

{'name': 'paul', 'age': 35, 'course': 'python'}

In [8]:
result = person.popitem()

print(result)

('course', 'python')

In [9]:
print(person)

{'name': 'paul', 'age': 35}

####  negative modulo

In [2]:
a = 3;b = -8;c = 2;
print( (b // c));

-4

In [3]:
print(3%-4)

-1

In [4]:
print(3%4)

3

In [5]:
print(-3%4)

1

In [2]:

data = [10,26,1,4,77,652,2,88,4,37,38]

key_input=int(input("enter the key: "))
output=0;
count_key=data.count(key_input)
if count_key==1:
    print("only one occurence")
elif(key_input not in data):
    print("key not found")
else:
    for index in range(len(data)):
        if data[index]==key_input:
            output=index
    print(output)

enter the key: 2
only one occurence

In [4]:
data = list(map(int,input("enter input elements: ").split("," )))
print(data)
key = int(input("enter key value: "))
count = 0
for i in range(len(data)):
    if key == data[i]:
        count = count+1
        if count == 2:
            print("key found at second occurance: ",i)
            break
if count==1:
    print("first occurance of key")
elif count==0:
    print("key not found")

enter input elements: 2,3,5,2,7
[2, 3, 5, 2, 7]
enter key value: 2
key not found

In [3]:
s = 'I love GeeksforGeeks'
def f1():
    #global s
    s = 'I love GeeksforGeeks'

def f2():
    global s
    s = 'Me too'
    print(s)

f2()
print(s)

#Driver's code
f1()

Me too
Me too

In [4]:
if True:
    a = 10
else:
    print(a)
    
print(a)

10

In [5]:
			def main():
				def add(a,b):
					return a+b
					
				def mult(a):
					return a*10
				return add(10,20)+mult(10)
				
			main()

130