In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
## Copy method in sequence .

a = [10,20,30]

#method1 = alias -> duplicate variable to the original variable.
b = a

print(a,b, id(a) , id(b))

a[0] = "Python"

print(a,b)

In [ ]:
c = ["apple","mango","grape"]

d = c.copy() #copy() - create  a new memory block and assign all values 

print(c,d , id(c) , id(d))

c[0]='pineapple'

print(c,d)
print(id(c[1]),id(d[1]))



### Types of Copy

**In Python, we use = operator to create a copy of an object. You may think that this creates a new object; it doesn't. It only creates a new variable that shares the reference of the original object.**

In [ ]:
a = {10,20}
b = {10}
print(id(a))
print(id(b))
print(a==b)
c = a
print(a==c)
print(id(a) == id(c))
print(a is c) # is operator is used to compare the mem addr

In [ ]:
old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]
new_list = old_list # reference or alias

new_list[2][2] = 9

print('Old List:', old_list)
print('ID of Old List:', id(old_list[0]))

print('New List:', new_list)
print('ID of New List:', id(new_list[0]))


# As you can see from the output both variables old_list and new_list shares the 
# same id i.e 1400322300872

Essentially, sometimes you may want to have the original values unchanged and only modify the new values or vice versa. In Python, there are two ways to create copies:

- Shallow Copy
- Deep Copy

To make these copy work, we use the copy module.

### Shallow Copy

A shallow copy creates a new object which stores the reference of the original elements.

So, a shallow copy doesn't create a copy of nested objects, instead it just copies the reference of nested objects. This means, a copy process does not recurse or create copies of nested objects itself.

In [ ]:
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

new_list = copy.copy(old_list) #SHALLOW COPY

print("Old list:", old_list)
print("New list:", new_list)

print(id(old_list) , id(new_list))

old_list.append([4, 4, 4]) # appending



print("Old list:", old_list)
print("New list:", new_list)
print(id(old_list[0]), id(new_list[0]))

In [ ]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

print(id(old_list[2]),id(new_list[2]))
old_list[1][1] = 'AA'
new_list[2][0] = 'AK'

print("Old list:", old_list)
print("New list:", new_list)

old_list.append("July Python")


print("Old list:", old_list)
print("New list:", new_list)

new_list.append("Python")


print("Old list:", old_list)
print("New list:", new_list)

new_list[0][2]="AKR"

print("Old list:", old_list)
print("New list:", new_list)

### Deep Copy
A deep copy creates a new object and recursively adds the copies of nested objects present in the original elements.

In [ ]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

print(id(old_list) , id(new_list))


old_list[1][0] = 'BB'

print("Old list:", old_list)
print("New list:", new_list)
id(old_list[0]),id(new_list[0])

In [ ]:
a = [[1,0],(2,0)]
b = a.copy() # shallow

print(id(a) , id(b))
print(id(a[0]) , id(b[0]))

### Data Types Functions


- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

In [ ]:
x = "Hello World"
type(x)

x = 20
type(x)

x = 20.5
type(x)


x = 1j
type(x)


x = ["apple", "banana", "cherry"]
type(x)


x = ("apple", "banana", "cherry")
type(x)


x = range(6)
type(x)


x = {"name" : "John", "age" : 36}
type(x)



x = {"apple", "banana", "cherry"}
type(x)


x = frozenset({"apple", "banana", "cherry"})
type(x)


x = True
type(x)


x=b"Hello"
type(x)


x=bytearray(5)
type(x)

x=memoryview(bytes(5))

type(x) #print(type(x))
#print()

### string methods

In [ ]:
s = "python is interpreted language"

In [ ]:
chr(65) #print(chr(65))

In [ ]:
ord("a")

In [ ]:
print(type(s))

In [ ]:
dir(s)

In [ ]:
#length of str  len(s)
len(s) #0-29

In [ ]:
print(s[-1],s[29])

In [ ]:
print(s[-30])

In [ ]:
s

In [ ]:
# capitalize
s=s.capitalize() #not inplace method , we have to store in same variable or other variable to reflect the changes.

In [ ]:
s

In [ ]:
a="veMuriAAA sbmsbmAAAA"
a.casefold() #convert into the lower case.

In [ ]:
a

In [ ]:
s.casefold()

In [ ]:
s
len(s)

In [ ]:
s.center(37 , " ")

In [ ]:
s.center(35 , "?")

In [ ]:
s.center(30 , "?")

In [ ]:
s

In [ ]:
s.count("i") #to count the occurences

In [ ]:
s.count("i",0,11)

In [ ]:
s.count("z")

In [ ]:
s

In [ ]:
s[0] =" kls" #error #immutables

In [ ]:
s[0]
s[-1]
#string supports indexing & slicing

In [ ]:
s[0:4:1]

In [ ]:
s

In [ ]:
s[-1:-len(s)-1:-1]

In [ ]:
s[::-1] #reverse

In [ ]:
s

In [ ]:
s[len(s)-1]

In [ ]:
s[len(s)-1]

In [ ]:
s[-1:-(len(s)+1):-1]

In [ ]:
s.count("e")

In [ ]:
s.count("e",15,40)

In [ ]:
print(type(s))

In [ ]:
s.encode() #str->bytes

type(s.encode())

In [ ]:
type(s)

In [ ]:
s
s.endswith("language")

In [ ]:
s = "asbbabsbc"
print(s.endswith("z"))

In [ ]:
#\n new line
#\t tab
#espace sequences

In [ ]:
txt = "H \n e \t l \t l\t o"
print(txt)

x =  txt.expandtabs(2)

print(x)

In [ ]:
s="AkRajamoni"
len(s)

In [ ]:
s[22]

In [ ]:
s[1:4:2]

In [ ]:
s[::-1]
s

In [ ]:
dir(s)

In [ ]:
s=s[::-1]

In [ ]:
s

In [ ]:
s.find("python") #return index of char

In [ ]:
s.find("a")

In [ ]:
s.find("a")
s[4]

In [ ]:
s
s.index("a")

In [ ]:
s

In [ ]:
s.index("z")

In [ ]:
s.find('z')

In [ ]:
s = {1,2,3}
dir(s)

In [ ]:
s.remove(2)

In [ ]:
s

In [ ]:
s.remove(2)

In [ ]:
print(s.discard(2))

# remove() -> error if data is not present
# discard() -> no error


# find() -> no error default -1
#  index() -> error if character is not present.

In [ ]:
"snkjhsknsln2672802@%#&@))@)@@U)("
"10"
"[10,230,12]"
"""{"Name":"Ak","course":"Python"}"""

In [ ]:
#captialize()
# casefold()
# count()
# find()
# index()
# expandtabs()
# center()
# len()
# dir()
# chr() ord()

In [ ]:
#checking types in string
#  starts with is


s = "12"
s = "12a"
s = "1222oho"
s.isalnum() #alpha's+ numbers

In [ ]:
s = "Python12"
s.isalnum()

In [ ]:
s = "382"
s.isalnum()

In [ ]:
s="klahklaKNJAL"
s.isalpha() #only alpha's 
s="296729NAknla"
s.isalpha()

In [ ]:
s="HELLO"

s.isupper()
s.islower()

In [ ]:
s="HELLo 12"

s.isupper()

In [ ]:
s
s.islower()

In [ ]:
s = "pyThon"
print(s.islower())

In [ ]:
s= "\u0067"  # decimal for 3
s.isdecimal()
print(s)
s="19"
print(s.isdecimal())

In [ ]:
s = "   "
s.isspace()

In [ ]:
s ="0101"
# s="0b1001"
print(s)
s.isdigit() #only 0-9

In [ ]:
# isalnum()
# isalpha()
# islower()
# isupper()
# isdigit()
# isspace()
# isnum()

In [ ]:
# dir(s)
s = "pyThoN"
s.upper()
s.lower()

In [ ]:
s.lower()

In [ ]:
s.upper()

In [ ]:
txt = "I like python "

x = txt.replace('python', "scala")
x

In [ ]:
x.replace("scala2","java")

In [ ]:
txt = "I could code along  all day"

x = txt.partition("z")

In [ ]:
x
type(x)

In [ ]:
txt

In [ ]:
txt.split() #returns a split of list
txt
# str -> list
# ['word1', "word2" , ....]

In [ ]:
txt

In [ ]:
txt2 = "Hi#welcome$python"

In [ ]:
txt2 = txt2.split("#")
txt2

In [ ]:
txt3="python is python a language is a oops"
txt3.split("python")

txt4="Hello?Hi?welcome"
txt4.split("?")

In [ ]:
type(txt2)
txt2

In [ ]:
name = input()
print(name)

In [ ]:
name
type(name)

In [ ]:
name = name.split()

In [ ]:
name

In [ ]:
name[-1]
name

In [ ]:
name = int(input())
print(name)

In [ ]:
print(name,type(name))

In [ ]:
#join() list-str
# split() str-> list

txt2= input('Enter the string').split(",")
print(txt2)

In [ ]:
"->".join(txt2)

In [ ]:
float_varible = float(input("FLoat the number"))

print(float_varible)

In [ ]:
float_varible = input("Enter Float the number ").split()

print(float_varible)

In [ ]:
for i in range(len(float_varible)):
#     print(float_varible[i] , type(float_varible[i]))
    float_varible[i] = float(float_varible[i])

In [ ]:
print(float_varible)

In [ ]:
map_var = map(float,float_varible)

print(map_var)

print(list(map_var))

In [ ]:
txt2= map(float,input('Enter the float values').split())
print(txt2)
txt2 = list(txt2)
print(txt2)

In [ ]:
print(txt2)

In [ ]:
cricketScorces = list(map(int,input("Enter the scoreces").split(':')))
print(cricketScorces)

In [ ]:
input() -- str data 

input().split() --- list data type []

map(function,iterable) - > 
    functions - int , float , bool
    
map -- > map object as result ,, list(map())

list(map(int,input().split()))

In [ ]:
teams = list(map(str,input().split()))

In [ ]:
teams

In [ ]:
int_list =[]

for i in range(5):
    int_list.append(int(input("enter the data ")))
    
int_list

In [ ]:
int_list = list(map(int, input().split()))

int_list

In [ ]:
split() # str-> list
join() #list -> str

In [ ]:
txt2 = ["ab","ak","python"]
print(type(txt2))

In [ ]:
txt3 = "->".join(txt2)
print(txt3)

In [ ]:
students_name = input("ENter the name").split()
print(students_name)

In [ ]:
# [] -list
# () - tuple 
# {} - set
# {} - dict
type({})

In [ ]:
txt = "I could code along \n all day I had fun in doing that  \n Really we can learn a lot"
print(txt)
txt.splitlines() #list

In [ ]:
##captialize()
# casefold()
# count()
# find()
# index()
# expandtabs()
# center()

#checking 
# -----------
# isalnum()
# isalpha()
# isupper()
# islower()
# isspace()
# isdigit()

#popular method

#  count()
# index()
# replace()
# partition
# split()
# join()


#pre defined ::
dir(str_obj_name)
len(str_obj_name)

In [ ]:
dir("")

In [ ]:
s="KUMAR rajamoni"

s.swapcase()

In [ ]:
import string
dir(string)

In [ ]:
 # Required to call maketrans function.

intab = "aeiou"
outtab = "12345"
trantab = str.maketrans(intab, outtab)

str = "this is string example....wow!!!";
print (str.translate(trantab))

In [ ]:
# first string
firstString = "abc"
secondString = "ghi"
thirdString = "ab"

string = "abcdef"
print("Original string:", string)

translation = string.maketrans(firstString, secondString, thirdString)

# translate string
print("Translated string:", string.translate(translation))

In [ ]:
s = "     Python Friday Code           "
print(len(s))
s2 = s.strip()
print(s2,len(s2))

In [ ]:
s =  "hello   world  lol"


#Hello World 

s.capitalize()

In [ ]:
s =  "hello   world  lol"
print(len(s))
names= s.split()

res = ""
for ch in names:
    res = res+ch.capitalize()

print(len(res))
print(res.strip())

In [ ]:
s =  "hello   world  lol"
print(len(s))
names= s.split()

# print(names)
res = ""
for ch in names:
#     print(ch)
    s = s.replace(ch,ch.capitalize())


print(s)

### fundamental  steps to develop a program 

- the fundamental phases to develop any program or app or problem statement are


#### 1. Algorithm  : Step by Step process to solve any specific task or problem statement.
        -written using a single statements in English 
        -Should Have Definite Start and End  , Should Have Definite Number of steps.
        - one problem can have many different algorithms 
        
           ex:Preparing a tea
   
  ex: Multiply two numbers
  
  STEP 1: START
  
  STEP 2:DECLARE num1, num2
  
  STEP 3: READ num1 ,num2
  
  STEP 4: SET product = num1*num2
  
  STEP 5: PRINT product
  
  STEP6:END
  
  
#### 2. Flow charts : Pictorial Representation of steps  , using symbols




#### 3. Pseudocode :  Its similar version of programming code written in plain english , independent of program Lang

        - It doesnt require any strict programming languange syntax
        - It is easily readable and modular form
        - Its is Code like language 
        ex:
        
        BEGIN 
        
            DECLARE num
            READ num 
            
            IF num MOD 2 is ZERO THEN
                PRINT "EVEN"
            ELSE THEN
                PRINT "ODD"
            ENDIF
        END

In [ ]:
num = int(input("enter the num: "))

if (num%2==0):
    print("EVEN")
else:
    print("ODD")
    
    
# control statements

In [ ]:
def evenoddchecker(num):
    for n in num:
        if (n%2==0):
            print("EVEN")
        else:
            print("ODD")
        
        
evenoddchecker(range(2,10))

In [ ]:
lst = list(map(int,input().split()))

print(lst)

In [ ]:
key = int(input("Enter the Key"))

for data in lst: #O(n)
    if key == data:
        print("Match Found")
        break

else:
    print("Match not Found")
    
    
# 0(n) = worst
# 0(1) =  best 
# 0(n/2) = avg

# Bineary Search ?  - O(logn)

In [ ]:
lst[lst.index(key)] #0(n)

In [ ]:
#  time complexity.
# space complexity.

In [ ]:
# sum of n natural 
# first 4 -> 1+2+3+4 = 10

# method-1
formula - n*(n+1)/2

#  method-2  for loop , list

# method-3 - functions , recursion.

In [ ]:
lst = [10,2,222,4444,101]
print(max(lst))

In [ ]:
lst = [10,2,222,4,101]
print(min(lst))

In [ ]:
lst = [3,2,90,60,25]
large = lst[0] 

for i in range(1,len(lst)):
    if (lst[i] > large):
        large=lst[i]
print(large)

In [ ]:
small = lst[0] 

for i in range(1,len(lst)):
    if (lst[i] < small):
        small=lst[i]
print(small)

#0(n)

In [ ]:
num1=10
num2=20
print("Addition")
print(num1*num2)
numan=10/0
print(num1+num2)
print("Hello Python")

# sequentical statements

### Statements

**A program contains**

- sequential statements  : Flow of execution is line by line 
- control statements    : Flow of execution depends on control expression
- Iteratative Statements  : Flow of execution on Loops / Repeated Actions



### Conditional Statements

- if  else
- elif
- nested if else

**decision making statements**

That is where control structures come in. A control structure directs the order of execution of the statements in a program.



if expr:

    statement

**Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.**

#### if else

In [ ]:
#in java

if(tomo=="holiday"){
    print()
    print()
}
else{
    print("")
}

In [ ]:
num = 11

if (num%2==0):
    print("EVEN")
    print("BLOCK")
else:
    print("ODD")
    print("BLOCK")

In [ ]:
if type(10) is str:
    print("True")
    print("True Block")
else:
    print("False")
    print("False block")

In [ ]:
num1=10
num2=11
if (num1==num2):
    print("EQUAL")
    print("world")
    print("hello")
    print("IF BLOCK")
else:
    print("NOT EQUAL")

In [ ]:
num1 = 10
num2 = 1

if num1 < num2: # if True Go Inside Else GOTO to the statement after IF block
    print(num2 ,"Greater")
    print("A")
    print("B")
    
print("next statements")
print("next next ")

In [ ]:
num1 = 1
num2 = 4
if num1>num2:
    print(num1 ,"Greater")
else:
    print(num1 ,"<" ,num2)
    print('{} is less than {}'.format(num1,num2))# string 2.x
    print(f'{num1} is less  than {num2}') #3.x

In [ ]:
name = "Kumar"
course = "python"
fee = 100.2322322
print(name)
print("is a student of ")
print(course)
print("course")

In [ ]:
print(name +" is a student of "+course +" course" +"With fee of "+fee)

In [ ]:
print(f'{name} is student')

In [ ]:
print(f'{name} is  a student')

In [ ]:
print(f'{name} is a student of {course} course with a fee of {fee}')

In [ ]:
print(f' {name} is a student')

In [ ]:
print("name is a student")

In [ ]:
print("{} is a student {} course with a fee {}".format(name,course,fee))

In [ ]:
print("{1} is a student {0} course with a fee {2}".format(name,course,fee))

In [ ]:
print("{0} is a studnet of {1} with fee of {2:.20f}".format(name , course ,fee))

In [ ]:
'foo' in ['bar', 'baz', 'qux']

In [ ]:
if 'bar' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')

    
print('After conditional')

In [ ]:

type(10) is int

In [ ]:
type("Vemuri2322")

In [ ]:
if type("Vemuri2322") is str:
    print("Hey")

In [ ]:
if 'zy' in 'python':                # Truthy
    print('yes')
else:
    print("NO")

In [ ]:
tomorrow = "No Holiday"

if tomorrow == "Holiday":
    print("Plan a Movie !")

else:
    print("Gotta go Office !")

In [ ]:

#even odd

# modulus operator returns the remainder 
print(33%2)

In [ ]:
num = int(input()) # default input() will read only strings "10" "10.2"

if (num % 2==0): # True
    print("it is an  even")

else: #False
    print("it is an odd")

In [ ]:
num = int(input())

if (num % 2 == 1) and num > 10:
    print("it is an odd number")
else:
    print(" n< 10 and it is an even number")

In [ ]:
# if expr:
    statemente
    
    
if expr:
    stmts
else:
    stmnts

#### elif

- Handling the mutliple conditions 
- The elif keyword in python a way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 34
b = 34
if b> a:
  print("b is greater than a")
elif a == b: 
  print("a and b are equal")
else:
    print("not equal")

print("Hello ")

In [ ]:
name = input("Enter the Name")


if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Joe':
    print('Hello Joe')
elif name == "Joe":
    print('Hello Arnold')
else:
    print("I don't know who you are!")

print("Normal flow")
print(10+20)

In [ ]:
#in multiple if , each and very condition is checked =>  even if the previous if is true or false.
data = 10
if data>=10:
    print("HI")
    
if type(data) is int:
    print("Hey")
    
if type(data) is str:
    print("Hello")
    
else:
    print("Bye Bye")
print("Continue from if else")

In [ ]:
data = 10
if data>10:
    print("HI")
    
elif type(data) is int:
    print("Hey")
    
elif type(data) is str:
    print("Hello")
    
else:
    print("Bye Bye")
    
print("Continue from if else")

In [ ]:
#grade example 

marks = [10,9,8,7,6]

sum1 = sum(marks)
print("sum is ",sum1)
n = len(marks)
avg = sum1/n

print("the average is ",avg)

print(avg,sum1)

if avg > 9:
    print("A")
elif avg>8:
    print("B")
elif avg>7:
    print("C")
elif avg>6:
    print("D")
else:
    print("Fail")

In [ ]:
#grade example 

marks = [10,9,8,7,6]

sum1 = sum(marks)
print("sum is ",sum1)
n = len(marks)
avg = sum1/n

print("the average is ",avg)

# print(avg,sum1)

if avg > 9:
    print("A")
if avg>8:
    print("B")
if avg>7:
    print("C")
if avg>6:
    print("D")
else:
    print("Fail")

In [ ]:
#if
#if else
#if elif else
#if if if else

#### nested if

In [ ]:
passwds = {"phonepwd":"User123"}

input_passwd = input("enter the passwd to unlock the device: ")

if (input_passwd == passwds["phonepwd"]):
    print('Welcome unlocked')
else:
    print('Please try again')

In [ ]:
# voting example 

age = int(input("Enter the Age?: "))


if age>=18:
    voter_id = input("Do you have Voter Id?: Y/N")
    if voter_id == "Y":
        print("Eligible to vote ")
    else:
        print("Apply for the card")
else:
    print("not eligible to vote")

In [ ]:


a =  int(input())
b = int(input()) 

if a>5:
    if a>=10:
        print(" If Block It's greater")
    else:
        print("It's not greater")
else:
    a+=5 #a = a+5
    b=-5
    if(a>=10):
        print(" Else Block It's greater")
    else:
        print("Lesser")

In [ ]:
# voting example 

age = int(input("Enter the Age?: "))


if age>=18:
    voter_id = input("Do you have Voter Id?:Y/N")
    if voter_id == "Y":
        print("Eligible to vote ")
    else:
        print("Apply for the card")
else:
    print("not eligible to vote")

In [ ]:

age = int(input("Enter the Age?: "))


if age>=18:
    voter_id = input("Do you have Voter Id?:Y/N")
    if voter_id == "Y":
        print("Eligible to vote ")
    else:
        print("Apply for the card")
else:
    print("not eligible to vote")
    if (age>=0 and age<=13):
        print("children")
    else:
        print("Teenager..")

In [ ]:
num =  int(input("Enter the NUM ")) #5
if num<=10:
    num-=1
    if num<=8:
        num-=2
        if num<=5:
            num+=2
            if num<=0:
                print("Hello")
            else:
                print("Bye")
        else:
            print("else-1")
    else:
        print("else -2")
else:
    print("else -3")

In [ ]:
10 33 12

In [ ]:
a=int(input("Enter num1="))
b=int(input("Enter num2="))
c=int(input("Enter num3="))
# 3 9 6
if a>b:
    if a>c:
        print(a)
    else:
        print(c)
else:
    if(b>c):
        print(b)
    else:
        print(c)

In [ ]:
a=int(input("Enter num1: "))
b=int(input("Enter num2: "))
c=int(input("Enter num3: "))

if (a>b and a>c):
    print(a)
elif (b>a and b>c):
    print(b)
else:
    print(c)

In [ ]:
lst = map(int, input().split())
print(lst)
print(max(lst))

In [ ]:
# 70K codes
#  each code = 5 digits
# 1 digits= one line sentence.

# AWS - one month 600-700 hrs (free).
# EC2 , BeanStack , S3.

1000 "THIS IS THE PROC CODE"
1002 "THIS IS THE DGI"

In [ ]:
a=int(input("Enter num1: "))
b=int(input("Enter num2: "))
c=int(input("Enter num3: "))

if (a<b and a<c):
    print(a)
elif (b<a and b<c):
    print(b)
else:
    print(c)

In [ ]:
num1=11

if num1>=10: 
    print("Greater")
else:
    print("lesser")

In [ ]:
num1=11

if num1>=10: print("Greater")
else: print("lesser")

In [ ]:
# Short Hand If

# If you have only one statement to execute, 
# you can put it on the same line as the if statement.

a = True  #1

b= False  #0

if a>b: print("A is Greater")
print(a,b)

In [ ]:
#short Hand if else

print("True") if a<b else print("False")

In [ ]:
a=10
b=20

if a<b:
    print("True")
else:
    print("False")
print(a,b)

In [ ]:
print(a) if a>b else print(b)

In [ ]:
# Read  username, pass from keyboard
# if user is "Deepa" and password is 1234
# print Login success
# otherwise print Error

In [ ]:
bool([1,2,3])
bool("sjhks")
bool("")

In [ ]:
#bool(something-data) ->True
# bool(nothing) -> False
print(len([]))
print(bool(()))
print(bool(0))
print(bool(0.0))
print(bool(""))
# [] ,(),{} , 0 ,0.0 ,"" ->False

In [ ]:
bool("")

In [ ]:
bool(" ")

In [ ]:
if "":
    print("hello")
    print("True")
    
    
# if <exp>:
#     stmts

In [ ]:
if []:
    print("hello")
    print("True")
else:
    print("Bye bye")

In [ ]:
bool(" ")
s= " "
a=[1]
len(s)

In [ ]:
bool([1])

# []
# {}
# ()
# 0
# 0.0
# ""


#false
bool([])

bool(())


bool({})

bool("")


bool(0)

bool(0.0)

#true

bool(1)
bool(1.1)

In [ ]:


# if ->true else -> false
# elif -> multiple conditions
#  mutliple if's -> every condition.
# nested if

### Looping 

- Sometimes it may be neccessary to repeat the certain process until a certain condition is met.
- It's a process of repeating a set of statments

In python , there are 2 loops

#### For loop

- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

- With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

-  For loop is preferred when we know the no of iterations in advance. 

syntax:

- for var in sequence:
    
    statements

In [ ]:
print("Hello "*10)
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")
# print("Hello")

In [ ]:
list(range(0,10,1)) # start , stop , step

In [ ]:
for i in range(1,10,1):
    print(i,end=" ")

In [ ]:
for i in range(1,10,1):
    print(i**2,end=" ")

In [ ]:
for i in range(1,10,1):
    print("Hello User",i)
    
print("out of loop")
print(10+20)

In [ ]:
for i in range(11):#10 iterations
    print("Hello" , i)
    print(i**2)

print(i)

In [ ]:
for ak in range(0,10):
    print(ak)
    print("HEllo")
    print("Hi")

print(ak)

In [ ]:
for _ in range(10):
    print(_)

In [ ]:
for(int i=0;i<10;i++){
    System.out.println("Hello");
    System.out.println(10+20);
}

In [ ]:
for i in range(10,-1,-1):
    print(i , end ="\t") #default ="\n"
    print(end="\t")
    print("for loop scope")

In [ ]:
for i in range(4):
    for j in range(3):
        print(i,j)
    print()

In [ ]:
count=0
for i in range(4):
    for j in range(4):
        for k in range(2):
            print(i,j,k)
            count+=1
        print()
    print()
    
print(f"count is {count}")

In [ ]:


for i in range(10,-1,-1):
    print(i , end="")
    print(end=" ")

In [ ]:
#f srring
a=10
b=20

#3.x
print(f"sum of {a} and {b} = {a+b}")

#2.x
print("sum of {} and  {} ={}".format(a,b,(a+b)))
print("sum of {1} and {0} is {2}".format(a,b,(a+b)))

In [ ]:

    
num = 9
i = 1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')

i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')

In [ ]:

num = int(input())

for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

In [ ]:
num = int(input("Enter the number"))

for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

In [ ]:
for data in range(-1,-5,-1):
    print(data)

In [ ]:
for ch in "Hemanth":
    print(ch , end = " ")

In [ ]:
for ch in "Hemanth":
    print(ch +" : "+str(ord(ch)))

In [ ]:
#print base for loops
for data in [10,30,30,202]:
    print(data)

In [ ]:
for data in (10,30,30,202):
    print(data)

In [ ]:
for data in {10,30,30,20,20}:
    print(data)

In [ ]:
dit = {"Name":"Ganesh","course":"python"}
print(dit.keys())

In [ ]:
for k in dit.keys():
    print(k , dit.get(k))

In [ ]:
for val in {"Name":"Ganesh","course":"python"}.values():
    print(val)

In [ ]:
list_data = ["Python","Course","Fee","Dollars",True,10.28989]

for data in list_data:
    print(data)

#### range base for loop

- we have control index locations
- maily used to change the data at locations
- customized output

In [1]:
#print the list in forward and reverse order

list_data = ["Python","Course","Fee","Dollars",True,10.28989]

n = len(list_data)

print(f'length of list is {n}')

for ind in range(0,n):
    print(ind , list_data[ind])

length of list is 6
0 Python
1 Course
2 Fee
3 Dollars
4 True
5 10.28989

In [2]:
for ind in range(n):
    if ind%2==1:
        print(list_data[ind])

Course
Dollars
10.28989

In [3]:
for ind in range(n):
    if ind%2==0:
        list_data[ind] = ind**ind

In [4]:
print(list_data)

[1, 'Course', 4, 'Dollars', 256, 10.28989]

In [7]:
for index in range(-1,-n-1,-1):
    print(list_data[index])

10.28989
256
Dollars
4
Course
1

In [8]:
list_data = ["Python","Course","Fee","Dollars",True,10.28989]
for ind in range(-1,-len(list_data)-1,-1):
    print(list_data[ind])

10.28989
True
Dollars
Fee
Course
Python

In [9]:
list(range(0,6))

[0, 1, 2, 3, 4, 5]

In [ ]:
#for looop with sequences  datatypes
# list
# tuple 
# set
# dictionary 
# string

In [10]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j] #0-5


n = len(comp) #6

print(f"the length is {n}")

for i in range(len(comp)): #i->0 - n-1
    i+=1
    print(comp[i] ,i , end=" , ")

print()
print(comp)

the length is 6
Microsoft 1 , True 2 , 1729 3 , 100000000000.0 4 , (5+2j) 5 ,

IndexError: list index out of range

In [12]:


for i in range(n): 
    i+=1
    print(comp[i])
    
# iteration - i=0 ->i+=1 
# iteration - i=1 -> i=2
# iteration i=2 -> i=3
# iteration i=3 -> i=4
# iteration i=4 -> i=5
# iteration i=5 -> i=6

Microsoft
True
1729
100000000000.0
(5+2j)

IndexError: list index out of range

In [13]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j] #0-5


n = len(comp) #6

print(f"the length is {n}")

for i in range(n+1): #i->0 - n-1
    
    print(comp[i] , end=" --> ")

print()
print(comp)

the length is 6
Google --> Microsoft --> True --> 1729 --> 100000000000.0 --> (5+2j) -->

IndexError: list index out of range

In [14]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j] #0-5


n = len(comp) #6

print(f"the length is {n}")

for i in range(n): #i->0 - n-1
    
    print(comp[i] ,i)
    if (i%2==0):
        comp[i]="Condition Met Even"
    

print()
print(comp)

the length is 6
Google 0
Microsoft 1
True 2
1729 3
100000000000.0 4
(5+2j) 5

['Condition Met Even', 'Microsoft', 'Condition Met Even', 1729, 'Condition Met Even', (5+2j)]

In [15]:
for i in range(n):
    if (i>2):
        print(comp[i])
    else:
        print(f"{i} is less than given condition")

0 is less than given condition
1 is less than given condition
2 is less than given condition
1729
Condition Met Even
(5+2j)

In [16]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j] #0-5


n = len(comp) #6

print(f"the length is {n}")

for i in range(n): #i->0 - n-1
    
    print(comp[i] ,i)
    if i%2==0:
        comp[i]=f"Even Loc:{i}"
    else:
        comp[i] = f"Odd Loc:{i}"
    

print()
print(comp)

the length is 6
Google 0
Microsoft 1
True 2
1729 3
100000000000.0 4
(5+2j) 5

['Even Loc:0', 'Odd Loc:1', 'Even Loc:2', 'Odd Loc:3', 'Even Loc:4', 'Odd Loc:5']

In [17]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j]

for i in range(len(comp)): #0-5
    if(i==len(comp)-1):
        comp[i]="Ganesh"
        
print(comp)

['Google', 'Microsoft', True, 1729, 100000000000.0, 'Ganesh']

In [21]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j]

loc = int(input("Enter the loc: "))

inp_dt= input("Enter the data to input: ")

for i in range(len(comp)):
    if(i==loc):
        comp[i] = inp_dt
print(comp)

Enter the loc: 5
Enter the data to input: 10292
['Google', 'Microsoft', True, 1729, 100000000000.0, '10292']

In [27]:
comp = ["Google","Microsoft",True , 1729 , 2j ,10e10 , 5+2j]
for i in range(len(comp)):
    if (type(comp[i]) is not complex):
        print(comp[i])

Google
Microsoft
True
1729
100000000000.0

['Google', 'Microsoft', 'Hemanth', 1729, 100000000000.0, (5+2j)]

In [31]:
#print forloop
for data in comp:
    print(data,type(data) ,sep = "  ---> ")

Google  ---> <class 'str'>
Microsoft  ---> <class 'str'>
True  ---> <class 'bool'>
1729  ---> <class 'int'>
2j  ---> <class 'complex'>
100000000000.0  ---> <class 'float'>
(5+2j)  ---> <class 'complex'>

In [32]:
for data in comp:
    if(type(data) is complex ):
        print(data)

2j
(5+2j)

In [33]:
for data in [10,30,"True",10.21,False]:
    print(data)

10
30
True
10.21
False

In [34]:
type(comp)

list

In [35]:
for i in {1,2,3,4,3,4,2}:
    print(i)

1
2
3
4

In [36]:
#printing purpose 

comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j] 

for  i in comp:
    print(type(i), i)

<class 'str'> Google
<class 'str'> Microsoft
<class 'bool'> True
<class 'int'> 1729
<class 'float'> 100000000000.0
<class 'complex'> (5+2j)

In [37]:
#tuple 

stock = (("SBI",370),["TCS",122] , ["INDO",278])

for item in stock:
    print(type(item) , item)
    print(item[0])
#do the same with range (for i in ramge())

<class 'tuple'> ('SBI', 370)
SBI
<class 'list'> ['TCS', 122]
TCS
<class 'list'> ['INDO', 278]
INDO

In [38]:
a=[10,20,30,40]

for ind in range(len(a)): #i 0,1,2,3 : range(4) :->0 - 3
    print(a[ind])

10
20
30
40

In [39]:
n= int(input()) #5

for i in range(1,n,2):
    print(i)

5
1
3

In [40]:
n= int(input()) #5

for i in range(0,n,2):
    print(i)

20
0
2
4
6
8
10
12
14
16
18

In [41]:
n= int(input()) #5

for i in range(n):
    if i%2==0:
        print(i ,end = " ")

10
0 2 4 6 8

In [43]:
stock = (["SBI",370],("TCS",122) , ["INDO",278])

n = len(stock)
print(n)

for i in range(n):#0-2
    print(type(stock[i]),stock[i])
    print(f'stock price is {stock[i][1]}')
    if(stock[i][0]=="TCS"):
        stock[i][1]=789
    
print(stock)

3
<class 'list'> ['SBI', 370]
stock price is 370
<class 'tuple'> ('TCS', 122)
stock price is 122

TypeError: 'tuple' object does not support item assignment

In [ ]:
s= ('SBI', 370)
print(s[1])

In [44]:
#set  unordered unindexed
# set removes duplicates

fruits = {"A","B","C","A","B"}

for i in fruits:
    print(i)
print(fruits[0]) #error

B
C
A

TypeError: 'set' object is not subscriptable

In [45]:
tup = (10,20,40)
print(tup[2])
# tup[2] = "changed"

string = "Hari"
print(string[-1])
string[0]="K"
print(string)

40
i

TypeError: 'str' object does not support item assignment

In [48]:
#dict 
#key = immutables 
#values =immu & mutable : both
student = {
    "Name": "Ellie",
    "Address":"USA",
    "Salary":4000,
    "Role":"SDE"
}


for tmp in student: # print only the keys
    print(tmp, student.get(tmp))

Name Ellie
Address USA
Salary 4000
Role SDE

In [49]:
student["Role"] = 'Data Science' 
student

{'Name': 'Ellie', 'Address': 'USA', 'Salary': 4000, 'Role': 'Data Science'}

In [51]:
a=[1,3,3]
a[-2]

3

In [56]:
# "Name"
# student['Name2'] #error
student.get("Name2","Key not found")

'Key not found'

In [57]:
for item in student: # print only the keys
    print(f"{item} : {student[item]}")

Name : Ellie
Address : USA
Salary : 4000
Role : Data Science

In [ ]:
#dict methods
#keys()
#values()
#items()
#update()
#get()
#pop()
#popitem()
#clear()
#sort()

In [58]:
student.items() #list of tuple which has k v paris

dict_items([('Name', 'Ellie'), ('Address', 'USA'), ('Salary', 4000), ('Role', 'Data Science')])

In [59]:
for data in student.items():
    #type of item
    print(data, type(data))
    print(data[0])

('Name', 'Ellie') <class 'tuple'>
Name
('Address', 'USA') <class 'tuple'>
Address
('Salary', 4000) <class 'tuple'>
Salary
('Role', 'Data Science') <class 'tuple'>
Role

In [64]:
for a,b in student.items():
    print(a,b)

Name Ellie
Address USA
Salary 4000
Role Data Science

In [65]:
student.keys() #it will return only keys

dict_keys(['Name', 'Address', 'Salary', 'Role'])

In [66]:
for dt in student.keys():
    print(dt , student[dt])

Name Ellie
Address USA
Salary 4000
Role Data Science

In [68]:
for tmp in student:
    print(tmp , student[tmp])

Name Ellie
Address USA
Salary 4000
Role Data Science

In [69]:
student.keys()

dict_keys(['Name', 'Address', 'Salary', 'Role'])

In [70]:
student.values()

dict_values(['Ellie', 'USA', 4000, 'Data Science'])

In [71]:
for data in student.values():
    print(data)

Ellie
USA
4000
Data Science

In [72]:
student

{'Name': 'Ellie', 'Address': 'USA', 'Salary': 4000, 'Role': 'Data Science'}

In [73]:

for key in student.keys():
    if(student[key]=="Data Science"):
        student[key]="DS"
print(student)

{'Name': 'Ellie', 'Address': 'USA', 'Salary': 4000, 'Role': 'DS'}

In [75]:
for data in student.items():
    print(data)

('Name', 'Ellie')
('Address', 'USA')
('Salary', 4000)
('Role', 'DS')

In [74]:

#unpacking

for key , val in student.items():
    print(key,val)

Name Ellie
Address USA
Salary 4000
Role DS

In [76]:
a=[("sairam","python",1000),("Ak","Java",700),("Stu","Ruby",600)]

for x in a:
    print(x,x[0],x[1],x[2])

('sairam', 'python', 1000) sairam python 1000
('Ak', 'Java', 700) Ak Java 700
('Stu', 'Ruby', 600) Stu Ruby 600

In [78]:
a=[("sairam","python",1000),("Ak","Java"),("Stu","Ruby",600)]

for x,y,z in a:
    print(x,y,z)

sairam python 1000

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
# ###dictionary
### Summary

# dict.items() -> key ,value in tuple format
# dict.keys() ->keys , dict[key]
# dict.values() -> values

### for with strings

In [79]:
s = "python is a Interpreted Language"

print(len(s))

for ch in s:
    print(ch ,end=" -> " )

32
p -> y -> t -> h -> o -> n ->   -> i -> s ->   -> a ->   -> I -> n -> t -> e -> r -> p -> r -> e -> t -> e -> d ->   -> L -> a -> n -> g -> u -> a -> g -> e ->

In [81]:
s = "python is a Interpreted Language"

n = len(s)
print("n= ",n)
for ind in range(n):
    print(ind , s[ind])

n=  32
0 p
1 y
2 t
3 h
4 o
5 n
6
7 i
8 s
9
10 a
11
12 I
13 n
14 t
15 e
16 r
17 p
18 r
19 e
20 t
21 e
22 d
23
24 L
25 a
26 n
27 g
28 u
29 a
30 g
31 e

In [ ]:
s = "Python is OOps Language"

# print only lowercase letters.
# hint : for

In [87]:
s = "Python is OOps Language"
for ch in s:
    if (ch.isupper()):
        print(ch , end=" ")

P O O L

In [84]:
for ind in range(len(s)):
    if(s[ind].islower()):
        print(s[ind] , end=" ")

y t h o n i s p s a n g u a g e

In [85]:
print(ord("A"), ord("y"), ord("Z"))

65 121 90

In [86]:
print(ord("a"),ord("z"))

97 122

In [88]:
for ind in range(len(s)):
    if (s[ind]>='A' and s[ind]<='Z'):
        print(s[ind] , end=" ")

P O O L

In [90]:
for ch in s:
    if (ord(ch)>=97 and ord(ch)<=122):
        print(ch,end=" ")

y t h o n i s p s a n g u a g e

In [91]:
for ch in s:
    if (ord(ch)>=65 and ord(ch)<=90):
        print(ch,end=" ")

P O O L

In [92]:
s = "python is a Interpreted Language"

for ind in range(0,len(s),2):
    print(s[ind] , end="")

pto saItrrtdLnug

In [93]:
s = "python is a Interpreted Language"
print(len(s))

for ind in range(len(s)-1,-1,-1):
    print(s[ind] , end="")

32
egaugnaL deterpretnI a si nohtyp

In [94]:
for i in "swati":
    print(i , end=" ")

s w a t i

In [95]:
for ind in range(len(s)-1,-1,-1):
    print(s[ind] , end=" ")

e g a u g n a L   d e t e r p r e t n I   a   s i   n o h t y p

In [ ]:
for i in (10,30,40):
    print(i , end=" ")

In [ ]:
for i in {10,10,30,40}:
    print(i , end=" ")

In [96]:
#nested for loop
some_list = [("A",98,True),("B","99",False)]
for i in some_list:
    for j in i:
        print(j)
    print()

A
98
True

B
99
False

## find the dup element in the list.

In [ ]:
data = [1,2,34,4,2,5]

cnt=0
for i in range(len(data)):
    cnt=0
    for j in range(len(data)):#0-n-1
        if(data[i]==data[j]):
            cnt+=1
    if(cnt==1):
        print(data[i])

In [ ]:
data = [1,2,34,4,2,5]

cnt=0
flag =False
for i in range(len(data)):
    cnt=0
    for j in range(i,len(data)):#0-n-1
        if(data[i]==data[j]):
            cnt+=1
    if(cnt==2):
        print(data[i])

### Find the  second index of the Element in the List

 - Suppose if the list is [1,8,9,1,2,8,32]
 - second index of ele = 8
 - output = 5
 
 
 Note : if the element is not present in list print -1

### Reverse the String and List Using for Loop

- Suppose s ="Hello" 
- output = "olleH"

In [97]:
x,y,z,a=("A",98,True,10+2j)
# type(x)
print(x,y,z)

A 98 True

In [98]:
#unpacking 
some_list = [["A",98,True],["B","99",False]]


for data in some_list:
    print(data)

for a,b,c in some_list:
    print(a,b,c)

['A', 98, True]
['B', '99', False]
A 98 True
B 99 False

In [ ]:
list(range(3))

In [99]:

for a , b ,c in [(10,0,0),(0,0),(40,0,0)]:
    print(a,b,c)

10 0 0

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
a= list(range(3,6))
a

x,y,z = a
print(x,y,z)

In [ ]:
for a , b , c in (0,20,30):
    print(a,b,c)

In [ ]:
some_list = [("A",98,True),("B","99",False)]

for item in some_list:
    print(item[0],item[1],item[2])

In [100]:
some_list = [("A",98,True),("B","99",False)]

for x,y,z in some_list:
    print(x,y,z)

A 98 True
B 99 False

#### Else with For

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
a =10
b= 20
if a>b:
    print("snjknld")
else: #False
    print("else block")

In [ ]:
print("if block") if (a<b) else print("else")

In [ ]:
print("if block") if (a>b) else print("else")

In [1]:
for i in "PythonUser":
    print(i ,end=" ")
else: #when for loop is excecuted fully
    print(" Printed Successfully")

P y t h o n U s e r  Printed Successfully

In [9]:
#else block is executed when for loop is compeltely executed all iterations
for i in "Swati":
    print(i ,end="")
    if(i=='a'):
        break
        
else: #no break #when executed al the iterations
    print(" Printed Successfully")

Swa

In [10]:
#else block is executed when for loop is compeltely executed all iterations
for i in "Swati":
    print(i ,end="")
    if(i=='a'):
        break;

print(" Printed Successfully")
print(1+20)

Swa Printed Successfully
21

In [11]:
#else block is executed when for loop is compeltely executed all iterations
for i in "Swati":
    print(i ,end="")
    if(i=='Z'):
        break
else: #no break or when for loop runs fully
    print(" Printed Successfully")

Swati Printed Successfully

#### Break

- With the break statement we can stop the loop before it has looped through all the items:


#### Continue 

- With the continue statement we can stop the current iteration of the loop, and continue with the next:

- skips the current iteration

#### pass
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error

In [3]:
if 10>20:
    pass

In [5]:
for i in range(10):
    pass

SyntaxError: unexpected EOF while parsing (<ipython-input-5-e61162350cc4>, line 1)

In [14]:
for i in range(1,10):
    print(i)
    if(i==3):
        break
#     print(i)
else: #no break and condition is not met
    print("For loop executed all iterations")

1
2
3

In [15]:
for i in range(1,10):
   
    print(i) 
    print("hi")
    print("Hello")
    break
else:
    print("Hey Hi Iam Else Block")
   
    
print("after for loop")

1
hi
Hello
after for loop

In [16]:
for i in range(1,10):
    break
    print(i)
    print("snjkns")
    print("snkndld")
print("outside loop")

outside loop

In [17]:
for i in range(1,10):
    if i==5 or i==8:
        continue
    print(i, end=" ")
else:
    print("For loop executed all iterations")

1 2 3 4 6 7 9 For loop executed all iterations

In [18]:
for i in range(10):
    print(i,end="")
    continue
    print("hello")

0123456789

In [19]:
for i in range(10):
    continue
    print(i)

In [20]:
for i in range(10):
    pass #empty body

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(100):
    if (i%3==0):
        continue
    if (i%5==0):
        continue
    print(i , end=" ")

1 2 4 7 8 11 13 14 16 17 19 22 23 26 28 29 31 32 34 37 38 41 43 44 46 47 49 52 53 56 58 59 61 62 64 67 68 71 73 74 76 77 79 82 83 86 88 89 91 92 94 97 98

In [23]:
for i in range(100):
    if(i%3==0):
        print(i , end=" ")
    if(i%5==0):
        print(i ,end=" ")

0 0 3 5 6 9 10 12 15 15 18 20 21 24 25 27 30 30 33 35 36 39 40 42 45 45 48 50 51 54 55 57 60 60 63 65 66 69 70 72 75 75 78 80 81 84 85 87 90 90 93 95 96 99

In [26]:
for i in range(100):
    if (i%3==0) and (i%5==0):
        print(i , end=" ")

0 15 30 45 60 75 90

In [27]:
for i in range(100):
    
    if i % 3 == 0 or i % 5 == 0:
        continue
    else:
        print(i , end= " ")

1 2 4 7 8 11 13 14 16 17 19 22 23 26 28 29 31 32 34 37 38 41 43 44 46 47 49 52 53 56 58 59 61 62 64 67 68 71 73 74 76 77 79 82 83 86 88 89 91 92 94 97 98

In [ ]:
## range upto 100
# skip only the multiples of 3 and

In [28]:
for b in range(101):
    if b%3==0:
         continue
    print(b ,end = " ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50 52 53 55 56 58 59 61 62 64 65 67 68 70 71 73 74 76 77 79 80 82 83 85 86 88 89 91 92 94 95 97 98 100

In [29]:
for b in range(101):
    if b%3==0 and  b%5==0:
         continue
    print(b ,end =" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 16 17 18 19 20 21 22 23 24 25 26 27 28 29 31 32 33 34 35 36 37 38 39 40 41 42 43 44 46 47 48 49 50 51 52 53 54 55 56 57 58 59 61 62 63 64 65 66 67 68 69 70 71 72 73 74 76 77 78 79 80 81 82 83 84 85 86 87 88 89 91 92 93 94 95 96 97 98 99 100

In [30]:
for ind in range(0 , 20 , 2):
    print(ind)

0
2
4
6
8
10
12
14
16
18

In [ ]:
# looping statements.
# pass - empty

# else - it will be executed WHEN FORLOOP has completed all iteration.

# break - stop the loop.

#  continue - skip and continue with next iteration.

In [ ]:
# For -  Loop
- When we know the no of iteration in advance.
- range() is a fnd . start,step ,stop.
 - control on indexes.
    
    
# While - loop
 - when we don't know iteration in advance..
 - we have to declare start , stop , step
 - we don't increment/decrement step --> infinite loop.

### While Loop

- With the while loop we can execute a set of statements as long as a condition is true.
- We prefer the while when dont know the no of iterations in advance
- In While loop , its mandatory to initialise the index variable and increment it during iterations

In [31]:
comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
print(comp)
print(len(comp))

['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
6

In [32]:
# print base 
for data in comp:
    print(data, end =" ")

Google Microsoft True 1729 100000000000.0 (5+2j)

In [35]:
# range 

for i in range(0,len(comp)):
    print(comp[i] , end=" ")

Google Microsoft True 1729 100000000000.0 (5+2j)

In [36]:
i = 0 #index variable
n = 10 #stop

while(i<n): #true 
    print(i ,end="")
    i+=1

0123456789

In [37]:
i=0 #index variable

n=10 #stop

#if the condition is True , it enters the loops , it will stop when the condition is FALSE
while i<=n: #0 1 2 3 4 5 6 7 8 9  10
    print(i ,end=" ")
    print("Ganesh")
    i+=1
    
print(i)

0 Ganesh
1 Ganesh
2 Ganesh
3 Ganesh
4 Ganesh
5 Ganesh
6 Ganesh
7 Ganesh
8 Ganesh
9 Ganesh
10 Ganesh
11

In [38]:
i=0 #index variable

n=10 #stop

#if the condition is True , it enters the loops
while i<=n: #0 1 2 3 4 5 6 7 8 9 
    print(i ,end=" ")
    i=i+2

0 2 4 6 8 10

In [39]:
print(10/3)  #print while exact decimals points
print(10//3) #floor division
print(1//2) #

3.3333333333333335
3
0

In [40]:
print(0!=0)

False

In [45]:
#DRY 

# program to convert decimal number to binary
#  128 64 32 16 8 4 2 1
# 
n=2702982

while n!=0: #when flase comes out of the loop
    print(n%2 , end=" ")
    n=n//2

#10%2 = 0
# 10//2 = 5
# 5%2 = 1
# 5//2 = 2
# 2%2 = 0
# 2//2 = 1
# 1%2 = 1
# 1//2 = 0

# 0 1 0 1

0 1 1 0 0 0 0 1 0 1 1 1 1 1 0 0 1 0 0 1 0 1

In [44]:
bin(27)

'0b11011'

In [ ]:
11//2

In [ ]:
#infinite loop
i=0
while i<10:
    print(i)

In [ ]:
comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
print(comp)

In [ ]:
ind = 0

n = len(comp)

print(ind,n)

while ind < n: #0 1 2 3 4 5 
    print(comp[ind])
    ind+=1

In [ ]:
print(-1>-6)

In [46]:
start = -1

n = -len(comp)

print(start,n)

while start>=n: #0 1 2 3 4 5 
    print(comp[start])
    start=start-1

-1 -6
(5+2j)
100000000000.0
1729
True
Microsoft
Google

In [47]:
ind = 0

n = len(comp)

new_list = ['a','b','c','d','e','f']

while ind < n: #0 1 2 3 4 5 
    comp[ind]=new_list[ind]
    ind+=1
comp

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
a=10
b=30
a,b = b , a
print(a,b)

In [48]:
arr = [109,3,9,0,6]
arr.reverse()

In [49]:
arr

[6, 0, 9, 3, 109]

In [50]:
arr = [109,3,9,0,6]
arr[::-1]

[6, 0, 9, 3, 109]

In [51]:
arr = [109,3,9,0,6]
#output [6,0,9,3,109]

i = len(arr)-1
n = 0

while i>=n:
    print(arr[i] , end=" ")
    i=i-1

6 0 9 3 109

In [ ]:
for i in range(len(arr)-1 , -1, -1):
    print(arr[i], end=" ")
    
# print(arr)

In [ ]:
#method3
arr = [109,3,9,0,6]
arr.reverse()
arr
arr[::-1]

In [ ]:
arr = [109,3,9,0,6]
#     [6,3,9,0,109]
#     [6,0,9,3,109]
# 10//2 = 5
#  start  0 ->1 incre
#  stop 4->3 decre

In [ ]:
a = 10
b= 20

a , b = b ,a

print(a,b)

In [ ]:
arr = [109,3,9,0,6]
#output [6,0,9,3,109]

ind = 0 
backind = len(arr)-1

n = len(arr)

while ind<(n//2):
    arr[ind] ,arr[backind]  = arr[backind] , arr[ind]
    ind+=1
    backind= backind-1
    print(f"{ind} iteration:  {arr}")

print(arr)

In [ ]:
arr = [109,3,9,0,6]

#(a, b = b , a)
n = len(arr)
first = 0
last = n-1
while first <n:
    print(first,last)
    arr[first] ,arr[last] = arr[last] , arr[first]
    first+=1
    last-=1
    print(arr)
print(arr)

In [ ]:
[1]*20

In [ ]:
a=[10,20,30]
b=[40,50,60]

# [50,70,90]

i=0

c=[0]*len(a)

print(c)

while i<len(a): # 0 1 2  
    c[i]=a[i]+b[i]
    i+=1
print(c)

In [53]:
lst = [10,203,20,202,30,399]

while lst:
    dt = lst.pop()
    print(dt)

399
30
202
20
203
10

In [54]:
while True:
    inp = input("Enter the message: or type exit")
    if inp:
        print(inp)
        if inp=="exit":
            break

Enter the message: or type exitsks
sks
Enter the message: or type exitsnks
snks
Enter the message: or type exitskjh2i
skjh2i
Enter the message: or type exitswbwl
swbwl
Enter the message: or type exitswbjkbws
swbjkbws
Enter the message: or type exitexit
exit

In [ ]:
# Note: remember to increment i, or else the loop will continue forever.

In [ ]:
#Try While loop with the TUple , set , Dict , String

### Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

Useful for accessing the 2D Lists , Tuples

In [2]:
for i in range(10):
    print(i , end=" ")

0 1 2 3 4 5 6 7 8 9

In [3]:
for i in range(5):
    for j in range(3):
        print(i,j , end=" ")
    print()

0 0 0 1 0 2
1 0 1 1 1 2
2 0 2 1 2 2
3 0 3 1 3 2
4 0 4 1 4 2

In [4]:
for i in range(5): #0-4
    for j in range(2): #0-1
        print("HI" , end=" ")
    print()

HI HI
HI HI
HI HI
HI HI
HI HI

In [7]:
for out in range(1,4):
    for inner in range(1,11):
        print(out*inner , end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [8]:
out = 1
while out<4:
    inner = 1
    while inner<11:
        print(out*inner, end=" ")
        inner+=1
    out+=1
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [9]:
arr_2D =[
    
        [1,2,3,10],
        ['a','b','c'],
        [10.2,True,10+2j]
    
        ]

In [10]:
for data in arr_2D:
    for inner in data:
        print(inner, end =" ")
    print()

1 2 3 10
a b c
10.2 True (10+2j)

In [11]:
arr_2D[0][0]

1

In [13]:
for i in range(1,1):
    print("sknlks")

In [17]:
arr_2D =[ 
    ["apple","ms","telsa", "Micro"],
    ['a','b','c' , "d","f","e"],
    [10.2,True,10+2j]
    ]

n = len(arr_2D)

for i in range(n):
    for j in range(len(arr_2D[i])):
        print(arr_2D[i][j], end= " ")
    print()

apple ms telsa Micro
a b c d f e
10.2 True (10+2j)

In [18]:
for i in range(n):
    for j in range(len(arr_2D[i])):
        if(i==j):
            arr_2D[i][j] = i**j
    print()
    
print(arr_2D)

[[1, 'ms', 'telsa', 'Micro'], ['a', 1, 'c', 'd', 'f', 'e'], [10.2, True, 4]]

In [19]:
for outer in arr_2D:
    for inner in outer:
        print(inner , end=" ")
    print()

1 ms telsa Micro
a 1 c d f e
10.2 True 4

In [ ]:
arr_2D[0][0]

In [20]:
for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [21]:
# print(arr_2D)

#It is 3x3 matrix

print(len(arr_2D))

row=3
cols=3
for i in range(row):
    for j in range(cols):
        print(f"{arr_2D[i][j]} i :j {i , j}") # 0 0 0 1 0 2

3
1 i :j (0, 0)
ms i :j (0, 1)
telsa i :j (0, 2)
a i :j (1, 0)
1 i :j (1, 1)
c i :j (1, 2)
10.2 i :j (2, 0)
True i :j (2, 1)
4 i :j (2, 2)

In [22]:
for i in range(2):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1

In [23]:
for i in range(3):
    for j in range(3):
        print(i,j)
        if(j==1):
            break
    if(i==1):
        break

0 0
0 1
1 0
1 1

In [24]:
i=0
while i<4: # 0 1 2 3
    j=0
    #inner loop
    while j<3: # 0 1 2
        print(i,j)
        j+=1
    i+=1
    print()

0 0
0 1
0 2

1 0
1 1
1 2

2 0
2 1
2 2

3 0
3 1
3 2

In [ ]:
arr_2D

In [ ]:
for row in range(len(arr_2D)):
    for col in range(len(arr_2D)) :
        print(arr_2D[row][col],end=" ")
        arr_2D[row][1]="Python"
    print()
    
print(arr_2D)

In [25]:
print() #new line

In [27]:
arr_2D[0][0]

1

In [28]:
arr_2D[0][1]

'ms'

In [29]:
arr_2D[0][2]

'telsa'

In [30]:
arr_2D[1][0]

'a'

In [31]:
arr_2D[1][1]

1

In [32]:
arr_2D[1][2]

'c'

In [34]:
some_list = ["Google","AmaZon","IBM"]

com_type = ["IT","MNC","GOBAL"]

#print the company with foundation year together

for i in some_list:
    for j in com_type:
        
        print(f"{i} is {j}" ,end =" and ")
    print()

Google is IT and Google is MNC and Google is GOBAL and
AmaZon is IT and AmaZon is MNC and AmaZon is GOBAL and
IBM is IT and IBM is MNC and IBM is GOBAL and

In [35]:
for i in some_list:
    print(i)

Google
AmaZon
IBM

In [36]:
n = int(input("enter the n values : "))  #5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print("*", end =" ")
    print()

enter the n values : 5
* * * * *
* * * *
* * *
* *
*

In [37]:
n = int(input("enter the n values : "))
for i in range(n-1,-1,-1):
    for j in range(i,-1,-1):
        print("*", end =" ")
    print()

enter the n values : 5
* * * * *
* * * *
* * *
* *
*

In [38]:
n = int(input("enter the n values : "))  #5
for i in range(0,n):
    for j in range(i+1):
        print("*", end =" ")
    print()

enter the n values : 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
# Take the input from keyboard
A = [[1,2],
     [3,4]
    ]

B=   [[5,6],
     [9,10]]

# output
A+B = [[6,8],
      [12,14]]

In [39]:
#input 
A=[]
rows  =  int(input("Enter the rows"))
cols =   int(input("Enter the cols"))
for row in range(rows):
    inner=[]
    for col in range(cols):
        inner.append(int(input(f"Enter the value : [ {row} : {col} ]")))
    A.append(inner)
A

Enter the rows3
Enter the cols2
Enter the value : [ 0 : 0 ]10
Enter the value : [ 0 : 1 ]20
Enter the value : [ 1 : 0 ]33
Enter the value : [ 1 : 1 ]22
Enter the value : [ 2 : 0 ]55
Enter the value : [ 2 : 1 ]66

[[10, 20], [33, 22], [55, 66]]

In [ ]:


#matrix addition 
# matrix mutliplication
#  5 pattern

In [40]:
n = int(input("enter the n values : "))
for i in range(n):
    for j in range(n,i,-1):
        print("*", end =" ")
    print()
for i in range(n):
    for j in range(i+1):
        print("*", end =" ")
    print()

enter the n values : 5
* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

### Comprehension

- It shorten the sytax of list with for loops

- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [41]:
a=[]
for i in range(20):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [42]:
b = [ i for i in range(20)]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [43]:
#generate a even numbers for given specified range add it to the list

even = []

#range(0,20)
for i in range(0,20):
    if i%2==0:
        even.append(i)
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [44]:
odd = []

#range(0,20)
for i in range(1,20):
    if i%2==1:
        odd.append(i)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [45]:
a=[i for i in range(20)]
print(a)
print(type(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
<class 'list'>

In [46]:
a=[i+2 for i in range(20)]
print(a)
type(a)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

list

In [47]:
[i*i*i for i in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [48]:
even =[ i for i in range(20) if i%2==0]

In [49]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [52]:
even =(i for i in range(20) if i%2==0)
print(type(even))

print(list(even))

<class 'generator'>
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [51]:
for data in even:
    print(data, end=" ")

0 2 4 6 8 10 12 14 16 18

In [53]:
[ i for i in range(20) if i%2==0 and i<16]

[0, 2, 4, 6, 8, 10, 12, 14]

In [ ]:
num=12
[ f'{num} * {i} = {num*i}' for i in range(10)]

In [ ]:
print(print("njkd"))

In [54]:
some_dict = { i:i**i for i in range(1,5)}

In [55]:
some_dict

{1: 1, 2: 4, 3: 27, 4: 256}

In [56]:
name ={i:ord(i) for i in "abCD"}
name

{'a': 97, 'b': 98, 'C': 67, 'D': 68}

In [ ]:
ord('a')
print(ord('A'))

In [ ]:
ord("\t")

In [57]:
name = {i:chr(int(i)) for i in "961825"}

name

{'9': '\t', '6': '\x06', '1': '\x01', '8': '\x08', '2': '\x02', '5': '\x05'}

In [ ]:
#usage case 2

# create a array of values , or required dimensions

In [ ]:
arr = [0]*100
print(arr)

In [58]:
arr = ["Hi"+str(i) for i in range(10)]
arr

['Hi0', 'Hi1', 'Hi2', 'Hi3', 'Hi4', 'Hi5', 'Hi6', 'Hi7', 'Hi8', 'Hi9']

In [59]:
arr = [0 for i in range(10)]

print(arr)

arr = [0]*10
print(arr)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [60]:
for row in range(4):
    for col in range(5):
        print(row,col , end="  ")
    print()

0 0  0 1  0 2  0 3  0 4
1 0  1 1  1 2  1 3  1 4
2 0  2 1  2 2  2 3  2 4
3 0  3 1  3 2  3 3  3 4

In [61]:
# 2D

arr2D = [ [ (row,col) for col in range(5)] for  row in range(4)]

In [62]:
arr2D

[[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4)],
 [(1, 0), (1, 1), (1, 2), (1, 3), (1, 4)],
 [(2, 0), (2, 1), (2, 2), (2, 3), (2, 4)],
 [(3, 0), (3, 1), (3, 2), (3, 3), (3, 4)]]

In [ ]:
# 2-D List
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]] 

# Nested List Comprehension to flatten a given 2-D matrix
flatten_matrix = [val for sublist in matrix for val in sublist]

print(flatten_matrix)

In [ ]:
res=[]
for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        res.append(matrix[i][j])

In [ ]:
print(res)

In [63]:
n=10
#O(n)- Big- Oh (N) # worst case
for i in range(n):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
n1=10
n2=5
for i in range(n1):
    for j in range(n2):
        print(i,j)

### Excercise

#### Prime or not

- A positive integer greater than 1 which has no other factors except 1 and the number itself is called a prime number. 2, 3, 5, 7 etc. are prime numbers as they do not have any other factors. But 6 is not prime (it is composite) since, 2 x 3 = 6.

##### Navie method

- we check a num is divisible exactly two times in inclusive range 1-num
- if  a num is divisible two times then it is prime number otherwise not prime.

In [64]:
## Checking whether number is prime or not  
# O(n) 
# O(sqrt(n)) 

num = int(input())
div_count=0
for i in range(1,num+1):
    if num%i==0:
        print((i , num//i))
        div_count+=1
        
        
if div_count==2:
    print(num ,"is Prime")
else:
    print("Not Prime")

7
(1, 7)
(7, 1)
7 is Prime

In [ ]:
11%1 #0
11%11 #0

##### using the flag variable

- We check if num is exactly divisible by any number from 2 to num - 1. If we find a factor in that range, the number is not prime, so we set flag to True and break out of the loop.

In [ ]:
#another methods - Factor finding


num = int(input())
flag = False #0

if num>1:
    for i in range(2,num): #2-10
        if num%i==0:
            Flag = True
            break
    if flag==False: #True == False
        print(" Prime")
    else:
        print("Not prime")

##### using the else block

In [ ]:
num = int(input())
flag = False #0

if num>1:
    for i in range(2,num): #2-10
        if num%i==0:
            Flag = True
            break
    else:#no break
        print("Prime")

### Linear Search

arr= [1,4,56,89,23,78]
- key = 56
- OP:2

- search for the key in the array elements , if key is found return the index
otherwise return the -1

In [ ]:
n = int(input())

arr = list(map(int, input().split()))

key = int(input())
for i in range(n):
    if (arr[i]==key):
        print(i)
        break
else:
    print(-1)
    
    
    
# worst case = O(n)
# average case = O(n//2)
#best case = O(1)

In [ ]:
n=int(input())

for i in range(n//2):
    print(i)
    
    
#O(n//2)

In [ ]:
from math import *
math.sqrt(10)

In [ ]:
sqrt(16)
sqrt(10)
ceil(3.4)
floor(3.4)

In [ ]:
n=int(input())
n= ceil(sqrt(n))

for i in range(n):
    print(i)
    
    
    #O(sqrt(n))

# 11%2
11%3
11%4
11%5
11%6
11%7
11%8
11%9
11%10

In [ ]:
1 
#read a number from keyboard
#range from 0 , 40
#check every num whether it is odd or even 
#print 


2.
# read a 10 integers from keyboard.
# store it in list
# loop through every value , calculate the sum of all values in the List
# print the final sum


# 3.Convert 2D to 1D using comprehesion

# 4. Declare two 2D list
# a=[[1,2],[10,20]]
# b=[[40,50],[100,200]]
# perfrom addition of every index values using for and while loops


## Generate a factorial for n using for and while loop
# ex : n = 2
# output:2
# # n = 5
# # output = 120 
# # 1*2*3*4*5 = 120

In [ ]:
 x,y,z,n = [int(input()) for i in range(4)]
    
print([[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)])