### What is JSON?

    - Json Stands for JavaScript Object Notation
    - It's Serialisation language for data exchange between applications running on different tech
    - It's lightweight format for storing and transporting the data
    - Easy to Understand & self describing
    
        USED IN :
                - REST API's
                - Configuration files.
   #### Syntax Rules
       - Data is in name: value paris
       - Data is separated by commons(,)
       - curly braces hold object
       - square brackets holds arrays
       
   ### Data types
        - object
        - arrays
        - Intergers
        - Strings
        - Boolean
        - Null/None

In [ ]:
# example
{
    "name": "Kumar",
    "country": "India",
    "role": "SDE",
    "skills":["K8's","Java","Python","Web"],
    "address":{
        "street1": "HYT 80",
        "street2": "LB NAGAR",
        "pin": 500070
        
    }
}

In [1]:
import json

In [2]:
dir(json)

['JSONDecodeError',
 'JSONDecoder',
 'JSONEncoder',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_default_decoder',
 '_default_encoder',
 'codecs',
 'decoder',
 'detect_encoding',
 'dump',
 'dumps',
 'encoder',
 'load',
 'loads',
 'scanner']

### What is Data?
       - Data is a collection of a distinct small unit of information. 
       - It can be used in a variety of forms like text, numbers, media, bytes, etc. it can be stored in pieces of paper or electronic memory, etc.
  >> Word 'Data' is originated from the word 'datum' that means 'single piece of information.' It is plural of the word datum
  
  
### What is Database?
    - A database is an organized collection of data, so that it can be easily accessed and managed.

    - You can organize data into tables, rows, columns, and index it to make it easier to find relevant information.
    - The main purpose of the database is to operate a large amount of information by storing, retrieving, and managing data.
    
    
   examples:
       
       MySQL, Sybase, Oracle, MongoDB, Informix, PostgreSQL, SQL Server, etc.

### SQL VS NO SQL

    SQL databases are primarily called as Relational Databases (RDBMS); 
    
    whereas NoSQL database are primarily called as non-relational or distributed database. 
    
 <img src = "https://i.imgur.com/5I3l2iA.png" height="800" width="800">

### WHAT IS MONGODB?
  
  
      - MongoDB stores data in flexible, JSON-like documents, meaning fields can vary from document to document and data structure can be changed over time

    -  The document model maps to the objects in your application code, making data easy to work with
    
    -  Ad hoc queries, indexing, and real time aggregation provide powerful ways to access and analyze your data
    
    -  MongoDB is a distributed database at its core, so high availability, horizontal scaling, and geographic distribution are built in and easy to use


    - MongoDB is free to use. Versions released prior to October 16, 2018 are published under the AGPL. All versions released after October 16, 2018, including patch fixes for prior versions, are published under the Server Side Public License (SSPL) v1.
    
    
    
<img src ="https://webimages.mongodb.com/_com_assets/cms/1-lwnlfl1ryn.png?auto=format%2Ccompress&ch=DPR&w=594" height="500" width="500">

### How to Install ?

    - Follow the documentation for installation 
    https://www.mongodb.com/docs/manual/installation/
    
    
    - AFTER INSTALLATION TO VERIFY
    
    
  > mongod --version 
  
  > mongosh --version
  
  
 ### Connect.
     1. Local DB 
         mongosh 
         
     2. Remote DB or cluster DB 
         mongosh URL 
  
  
### Different tools

  ##### MONGODB 
    
        - It's A DB acts a NO SQL 
        - MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need.
        
    
    
    
  ##### Cluster  : 
      MongoDB Atlas Cluster is a NoSQL Database-as-a-Service offering in the public cloud (available in Microsoft Azure, Google Cloud Platform, Amazon Web Services).
    
    
    
   ###### MongoShell : 
   
       The mongo shell is an interactive JavaScript interface to MongoDB. You can use the mongo shell to query and update data as well as perform administrative operations.
    
    
    
   ##### Mongo Altas Compass
        
        MongoDB Atlas is a fully-managed cloud database that handles all the complexity of deploying, managing, and healing your deployments on the cloud service provider of your choice (AWS , Azure, and GCP). MongoDB Atlas is the best way to deploy, run, and scale MongoDB in the cloud.

### Terminology 

<img src = " https://i.imgur.com/R44vVcY.png" height="800" width="900">

### Commands

  #### most used commands
  
      - View all databases
             show dbs
            
      - Create a new or switch databases 
             use dbName
             
      - View current Database
             db
             
      - Delete Database  
            db.dropDatabase()
              
      
  ##### Collection Commands
         
       - Show Collections
             show collections
                  
        - Create a collection named 'comments'
             Create a collection named 'comments'
       
        - Drop a collection named 'comments'
             db.comments.drop()
             

### Row(Document) Commands


**find all rows**

             db.comments.find()
             
**Show all Rows in a Collection**


             db.comments.find().pretty()
             
**Find the first row matching the object**

             db.comments.findOne({name: 'Harry'})
            
**Insert One Row**
             
             db.comments.insert({
                 'name': 'Harry',
                 'lang': 'JavaScript',
                 'member_since': 5
             })     
             
   **Insert many Rows**
   
              db.comments.insertMany([{
                 'name': 'Harry',
                 'lang': 'JavaScript',
                'member_since': 5
                }, 
                {'name': 'Rohan',
                'lang': 'Python',
                'member_since': 3
                },
                {'name': 'Lovish',
                'lang': 'Java',
                'member_since': 4
            }])

### Search in a MongoDb Database

          - db.comments.find({lang:'Python'})
          
**Limit the number of rows in output**   

        db.comments.find().limit(2)
        
        
**Count the number of rows in the output**
        
        db.comments.find().count()
        
        
**Update a row**
        
        db.comments.updateOne({name: 'Shubham'},
        {$set: {'name': 'Harry',
         lang': 'JavaScript',
        'member_since': 51
        }}, {upsert: true})
        
        
**Mongodb Increment Operator**

        db.comments.update({name: 'Rohan'},
        {$inc:{
        member_since: 2
        }})
        
        
**Mongodb Rename Operator**

        db.comments.update({name: 'Rohan'},
        {$rename:{
        member_since: 'member'
        }})
        
        
**Delete Row**

        db.comments.remove({name: 'Harry'})
        
        
**Less than/Greater than/ Less than or Eq/Greater than or Eq**
        
       db.comments.find({member_since: {$lt: 90}})
       
       db.comments.find({member_since: {$lte: 90}})
       
       db.comments.find({member_since: {$gt: 90}})
       
       db.comments.find({member_since: {$gte: 90}})

### PyMongo

    - Python needs a MongoDB driver to access the MongoDB database.
**TO INSTAL MODULE**

  >python -m pip install pymongo
        
    To test if the installation was successful, or if you already have "pymongo" installed, create a Python page with the following content:
    
>import pymongo



 #### step 1: Creating a Database
 
         - To create a database in MongoDB, start by creating a MongoClient object, then specify a connection URL with the correct ip address and the name of the database you want to create.

        MongoDB will create the database if it does not exist, and make a connection to it.
        
        
         MongoDB waits until you have created a collection (table), with at least one document (record) before it actually creates the database (and collection).

In [14]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

db_name = "AKR"
mydb = myclient[db_name]

In [15]:
dblist = myclient.list_database_names()
print(dblist)

try:
    if db_name in dblist:
        print("The database exists.")  
    else:
        raise Exception("DB not found ..")
except Exception as e:
    print(e)

['STUDENT', 'admin', 'appdb', 'config', 'courses', 'local']
DB not found ..

####  Step2: Creating a Collection
        
        To create a collection in MongoDB, use database object and specify the name of the collection you want to create.

        MongoDB will create the collection if it does not exist
        
         In MongoDB, a collection is not created until it gets content!
         
         MongoDB waits until you have inserted a document before it actually creates the collection.

In [18]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["courses"]

mycol = mydb["customers"]

In [20]:
collist = mydb.list_collection_names()
print(collist)
if "customers" in collist:
  print("The collection exists.")

['course']

#### Step3: Insert Into Collection

        To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.

        The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [21]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [22]:
print(myclient.list_database_names())

['STUDENT', 'admin', 'appdb', 'config', 'courses', 'local', 'mydatabase']

In [ ]:
# The insert_one() method returns a InsertOneResult object, which has a property, 
# inserted_id, that holds the id of the inserted document.

mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)



# If you do not specify an _id field, then MongoDB will add one for you and assign a unique id for each document.

# In the example above no _id field was specified, so MongoDB assigned a unique _id for the record (document).

#### Insert Multiple Documents

To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [23]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('637c24dfeb03431529df16ec'), ObjectId('637c24dfeb03431529df16ed'), ObjectId('637c24dfeb03431529df16ee'), ObjectId('637c24dfeb03431529df16ef'), ObjectId('637c24dfeb03431529df16f0'), ObjectId('637c24dfeb03431529df16f1'), ObjectId('637c24dfeb03431529df16f2'), ObjectId('637c24dfeb03431529df16f3'), ObjectId('637c24dfeb03431529df16f4'), ObjectId('637c24dfeb03431529df16f5'), ObjectId('637c24dfeb03431529df16f6'), ObjectId('637c24dfeb03431529df16f7')]

#### Find One

    In MongoDB we use the find() and find_one() methods to find data in a collection.
    
    To select data from a collection in MongoDB, we can use the find_one() method.

    The find_one() method returns the first occurrence in the selection.

In [24]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('637c24a4eb03431529df16ea'), 'name': 'John', 'address': 'Highway 37'}

#### Finall 

    To select data from a table in MongoDB, we can also use the find() method.

    The find() method returns all occurrences in the selection.

In [26]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find(): 
  print(x["name"])

John
Amy
Hannah
Michael
Sandy
Betty
Richard
Susan
Vicky
Ben
William
Chuck
Viola

#### Return Only Some Fields


    The second parameter of the find() method is an object describing which fields to include in the result.

    This parameter is optional, and if omitted, all fields will be included in the result.

In [27]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

#### Filter the Result

    When finding documents in a collection, you can filter the result by using a query object.

    The first argument of the find() method is a query object, and is used to limit the search.
    
    To make advanced queries you can use modifiers as values in the query object.

    E.g. to find the documents where the "address" field starts with the letter "S" or higher (alphabetically), use the greater than modifier: {"$gt": "S"}:
    
   
   To find only the documents where the "address" field starts with the letter "S", use the regular expression {"$regex": "^S"}:

In [28]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('637c24dfeb03431529df16ee'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637c24dfeb03431529df16f1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637c24dfeb03431529df16f3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637c24dfeb03431529df16f7'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [29]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('637c24dfeb03431529df16f1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637c24dfeb03431529df16f7'), 'name': 'Viola', 'address': 'Sideway 1633'}

#### Sort
    Use the sort() method to sort the result in ascending or descending order.

    The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default )
    direction).
    
    sort("name", 1) #ascending
    sort("name", -1) #descending

In [31]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name",-1)

for x in mydoc:
  print(x)

{'_id': ObjectId('637c24dfeb03431529df16f5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637c24dfeb03431529df16f7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637c24dfeb03431529df16f3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637c24dfeb03431529df16f2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637c24dfeb03431529df16ef'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637c24dfeb03431529df16f1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637c24dfeb03431529df16ee'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637c24a4eb03431529df16ea'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637c24dfeb03431529df16ed'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637c24dfeb03431529df16f6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637c24dfeb03431529df16f0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637c24dfeb03431529df16f4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637c24dfeb03431529df16ec'), 'name': 'Amy', 'address': 'Apple st 652'}

#### Delete Document

        To delete one document, we use the delete_one() method.

    The first parameter of the delete_one() method is a query object defining which document to delete.

    **Note: If the query finds more than one document, only the first occurrence is deleted.**

In [32]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

In [34]:
print(mycol.find_one(myquery))

None

#### Delete Many Documents

    To delete more than one document, use the delete_many() method.

    The first parameter of the delete_many() method is a query object defining which documents to delete.

In [35]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

mycol.delete_many(myquery)


for data in mycol.find():
    print(data)

{'_id': ObjectId('637c24a4eb03431529df16ea'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637c24dfeb03431529df16ec'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637c24dfeb03431529df16ee'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637c24dfeb03431529df16ef'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637c24dfeb03431529df16f0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637c24dfeb03431529df16f2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637c24dfeb03431529df16f3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637c24dfeb03431529df16f4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637c24dfeb03431529df16f5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637c24dfeb03431529df16f6'), 'name': 'Chuck', 'address': 'Main Road 989'}

### update One 

    to update one record , use update_one()

In [37]:
dir(mycol)

['_BaseObject__codec_options',
 '_BaseObject__read_concern',
 '_BaseObject__read_preference',
 '_BaseObject__write_concern',
 '_Collection__create',
 '_Collection__create_indexes',
 '_Collection__database',
 '_Collection__find_and_modify',
 '_Collection__full_name',
 '_Collection__name',
 '_Collection__write_response_codec_options',
 '__bool__',
 '__call__',
 '__class__',
 '__class_getitem__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__next__',
 '__orig_bases__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_aggregate',
 '_aggregate_one_result',
 '_command',
 '_count_cmd',
 '_delete',
 '_delete_retryable',
 '_insert_one',
 '_is_protocol',
 '_read_preference_for',
 '_retryable_non_cursor_read',
 '_socket_for_reads',
 '_socket_for_writes',
 '_timeout',
 '_update',
 '_update_retryable',
 '_write_concern_for',
 '_write_concern_for_cmd',
 'aggregate',
 'aggregate_raw_batches',
 'bulk_write',
 'codec_options',
 'count_documents',
 'create_index',
 'create_indexes',
 'database',
 'delete_many',
 'delete_one',
 'distinct',
 'drop',
 'drop_index',
 'drop_indexes',
 'estimated_document_count',
 'find',
 'find_one',
 'find_one_and_delete',
 'find_one_and_replace',
 'find_one_and_update',
 'find_raw_batches',
 'full_name',
 'index_information',
 'insert_many',
 'insert_one',
 'list_indexes',
 'name',
 'next',
 'options',
 'read_concern',
 'read_preference',
 'rename',
 'replace_one',
 'update_many',
 'update_one',
 'watch',
 'with_options',
 'write_concern']

In [45]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = {"name":"Ben"},{"$set":{"name":"Kumar","address":"HYD"}},{"upsert":True}
response = mycol.update_one({"name":"Rajani"},{"$set":{"address":"PO BOX0889"}},upsert=True)

print(response)

for data in mycol.find():
    print(data)

<pymongo.results.UpdateResult object at 0x0000025077A7E520>
{'_id': ObjectId('637c24a4eb03431529df16ea'), 'name': 'John', 'address': 'PO BOX0889'}
{'_id': ObjectId('637c24dfeb03431529df16ec'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637c24dfeb03431529df16ee'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637c24dfeb03431529df16ef'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637c24dfeb03431529df16f0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637c24dfeb03431529df16f2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637c24dfeb03431529df16f3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637c24dfeb03431529df16f4'), 'name': 'Kumar', 'address': 'HYD'}
{'_id': ObjectId('637c24dfeb03431529df16f5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637c24dfeb03431529df16f6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637c287fb6a7accbabe077d4'), 'name': 'Rajani', 'address': 'PO BOX0889'}

In [ ]:
CRUD 
Create 
Read
Update
Delete.