### What is DataBase?

- A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 
- A database is usually controlled by a database management system (DBMS).

- Most databases use structured query language (SQL) for writing and querying data.

#### types of data
- Structured Data
    - tables
    - excels
    
- Unstructured Data
    - Mails
    - Audio's
    - videos
    
    
- Semi-Structure 

    - XML Data
  



### types of databases

- Relational databases
- Object oriented Databases
- Distributed databases
- Data warehouses
- No SQL

### SQL VS NO SQL

- SQL databases are relational, NoSQL are non-relational.
- SQL databases use structured query language and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
- SQL databases are vertically scalable, NoSQL databases are horizontally scalable.
- SQL databases are table based, while NoSQL databases are document, key-value, graph or wide-column stores.

- SQL databases are better for multi-row transactions, NoSQL are better for unstructured data like documents or JSON.

<img src = "https://www.clariontech.com/hs-fs/hubfs/SQL-NOSQL.png?width=813&name=SQL-NOSQL.png">

#### Popular SQL Databases
- MySql
- Oracle
- PostgreSQL
- Microsoft SQL server
- SqlLite3
### No SQL 

- MongoDB
- Redis
- RavenDB
- Hbase
- Cassandra

### Sqlite3

- In this section we going to discuss the SQLite 
- SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured , SQL database engine
- SQLite is the most used database engine in the world.
- SQLite is built into all mobile phones and most computers and comes bundled inside countless other applications that people use every day

- The SQLite file format is stable, cross-platform, and backwards compatible
- SQLite source code is in the public-domain and is free to everyone to use for any purpose.

- It is open sure embedded Database , it doesnt require any server to communicate with database.
- It create a database on file system of computer , directly communicate with it without need of server.

### When to use?

- SQLite strives to provide local data storage for individual applications and devices. SQLite emphasizes economy, efficiency, reliability, independence, and simplicity.

- SQLite does not compete with client/server databases. SQLite competes with fopen().

- Embedded devices and the internet of things
- Application file format
- Websites
- Data analysis
- Cache for enterprise data
- Server-side database
- Data transfer format
- Internal or temporary databases
- Very large datasets

### Downloading

step 1: GO the following 

https://www.sqlite.org/download.html

choose  sqlite-tools-win32-x86-3350500.zip (1.81 MiB)
under Precompiled Binaries for Windows

step2: Extract it and After extraction paste the Floder in C drive , then rename the floder to sqlite3

step3:floder the sqlite3 copy floder location , add it to the path variable in Environmental settings variable

step4: check whether sqllite is installed or not by Opening CMD , and typing sqlite3 , if its enters into shell then succesfully installed.


#### sqlite3 with python

- install the sqlite3 module 

- pip install sqlite3 (no need) it is a prebuild module

### commands
- . quit -> to quit from shell
- .databases -> to list databases
- .tables -> to list tables

### Data Types

 - NULL. The value is a NULL value.

- INTEGER. The value is a signed integer, stored in 1, 2, 3, 4, 6, or 8 bytes depending on the magnitude of the value.

- REAL. The value is a floating point value, stored as an 8-byte IEEE floating point number.

- TEXT. The value is a text string, stored using the database encoding (UTF-8, UTF-16BE or UTF-16LE).

- BLOB. The value is a blob of data, stored exactly as it was input.

### create Table

In [ ]:
 
CREATE TABLE [IF NOT EXISTS] table(
   primary_key INTEGER PRIMARY KEY,
   column_name type NOT NULL,
   column_name type NULL,
   ...
);

In [1]:
import sqlite3

In [2]:
dir(sqlite3)

['Binary',
 'Connection',
 'Cursor',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'OptimizedUnicode',
 'PARSE_COLNAMES',
 'PARSE_DECLTYPES',
 'PrepareProtocol',
 'ProgrammingError',
 'Row',
 'SQLITE_ALTER_TABLE',
 'SQLITE_ANALYZE',
 'SQLITE_ATTACH',
 'SQLITE_CREATE_INDEX',
 'SQLITE_CREATE_TABLE',
 'SQLITE_CREATE_TEMP_INDEX',
 'SQLITE_CREATE_TEMP_TABLE',
 'SQLITE_CREATE_TEMP_TRIGGER',
 'SQLITE_CREATE_TEMP_VIEW',
 'SQLITE_CREATE_TRIGGER',
 'SQLITE_CREATE_VIEW',
 'SQLITE_CREATE_VTABLE',
 'SQLITE_DELETE',
 'SQLITE_DENY',
 'SQLITE_DETACH',
 'SQLITE_DONE',
 'SQLITE_DROP_INDEX',
 'SQLITE_DROP_TABLE',
 'SQLITE_DROP_TEMP_INDEX',
 'SQLITE_DROP_TEMP_TABLE',
 'SQLITE_DROP_TEMP_TRIGGER',
 'SQLITE_DROP_TEMP_VIEW',
 'SQLITE_DROP_TRIGGER',
 'SQLITE_DROP_VIEW',
 'SQLITE_DROP_VTABLE',
 'SQLITE_FUNCTION',
 'SQLITE_IGNORE',
 'SQLITE_INSERT',
 'SQLITE_OK',
 'SQLITE_PRAGMA',
 'SQLITE_READ',
 'SQLITE_RECURSIVE',
 'SQLITE_REINDEX',
 'SQLITE_SAVEPOINT',
 'SQLITE_SELECT',
 'SQLITE_TRANSACTION',
 'SQLITE_UPDATE',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'adapt',
 'adapters',
 'apilevel',
 'collections',
 'complete_statement',
 'connect',
 'converters',
 'datetime',
 'dbapi2',
 'enable_callback_tracebacks',
 'enable_shared_cache',
 'paramstyle',
 'register_adapter',
 'register_converter',
 'sqlite_version',
 'sqlite_version_info',
 'threadsafety',
 'time',
 'version',
 'version_info']

### Steps to Write a Query

Step 1: import the sqlite3

step 2: create a database , with sqlite.connect()

- there are two ways to create database .
    - create a database with .db extension.
    - or use :memory: it is in memory database , it will create a new fresh one everytime

SyntaxError: EOL while scanning string literal (<ipython-input-3-1306abc731ac>, line 1)

In [4]:
import sqlite3

#establising the connection or creating the connection object

conn = sqlite3.connect("course.db")

#create a cursor to perform , queries like create , insert , update , delete

c = conn.cursor()

# write the query , in order to execute the query ,use cursor.execute()  method


c.execute(""" CREATE TABLE courses(
                course_id INTEGER PRIMARY KEY,
                course_name TEXT NOT NULL,
                course_fee REAL NOT NULL
                
            )
        """)

#commit the changes

conn.commit()
conn.close()

In [19]:
import sqlite3

#establising the connection or creating the connection object

conn = sqlite3.connect("course.db")

#create a cursor to perform , queries like create , insert , update , delete

c = conn.cursor()

# write the query , in order to execute the query ,use cursor.execute()  method


c.execute(""" INSERT INTO courses VALUES(102,"java",9000.1)
        """)

#commit the changes

conn.commit()
conn.close()

In [24]:
import sqlite3

#establising the connection or creating the connection object

conn = sqlite3.connect("course.db")

#create a cursor to perform , queries like create , insert , update , delete

c = conn.cursor()

# write the query , in order to execute the query ,use cursor.execute()  method


data = c.execute(""" SELECT * FROM courses
        """)

for row in data:
    print(row)
#commit the changes

conn.commit()
conn.close()

(101, 'Python', 100001.1)
(102, 'java', 9000.1)

In [10]:
#list the database files
import os
# print(os.listdir())
for ch in os.listdir():
    
    if ch.split('.')[1]=='db':
        print(ch)

course.db

#### Insert

In [ ]:
INSERT INTO table_name(column1,column2,...)
VALUES(value_1,value_2,...);


#Insert multiple rows into a table in a single statement:
    
INSERT INTO table_name(column1,column2,...)
VALUES(value_1,value_2,...),
      (value_1,value_2,...),
      (value_1,value_2,...)...

### querying Data

In [ ]:
SELECT * FROM table_name;

# Query data from the specified column of a table:
    
SELECT c1, c2
FROM table_name;

# Query unique rows

SELECT DISTINCT (c1)
FROM table_name;


# Query rows that match a condition using a WHERE clause.

SELECT *
FROM table_name
WHERE condition;

### Update

In [ ]:
# Update all rows in a table:

UPDATE table_name
SET c1 = v1,


# Update rows that match with a condition:

UPDATE table_name
SET c1 = v1,
    ...
WHERE condition;

In [ ]:
##delete rows

DELETE FROM table;


# Delete rows specified by a condition:

DELETE FROM table
WHERE condition;

In [1]:


#College - Database
# Student  - Tables
# columns - Name , ID , College_name , Branch , State , Marks 
# creat database
# create table
# insert data 10 records

# update  collegename if state is 
# delete student_name

In [4]:

import sqlite3
conn=sqlite3.connect(":memory:")

s=conn.cursor()

s.execute("""CREATE TABLE student(
student3_name NOT NULL,
student3_id INTEGER PRIMARY KEY,
student3_college TEXT,
student3_branch TEXT,
student3_state NOT NULL,
student3_Marks REAL)
""")
print("CREATED TABLE SUCCESSFULLY")

s.execute("""INSERT INTO student VALUES
("RV",3423,"TU","ECE","OK",67.6)""")

print("INSERTED ")
info=s.execute("""SELECT * FROM student""")

for data in info:
    print(data)

conn.commit()
conn.close()

CREATED TABLE SUCCESSFULLY
INSERTED
('RV', 3423, 'TU', 'ECE', 'OK', 67.6)

In [1]:
import os
print(os.getcwd())

D:\JS\SOCKET NETWORKING PROG'\Python_Session\Notebook files